.benchmarks
.git/
.github/
.pytest_cache/
dockerfiles/
docs/
pg_graphql.egg-info/
target/
wrappers/target/
supabase-wrappers/target/
supabase-wrappers-macros/target/
nix/
node_modules/
results/
venv/
*.md
*.py
*.yaml
*.yml
*.graphql
*.nix
.python-version
.gitignore
.clang-format
