site_name: wrappers
site_url: https://supabase.github.io/wrappers
site_description: A PostgreSQL extension adding GraphQL support

repo_name: supabase/wrappers
repo_url: https://github.com/supabase/wrappers

nav:
    - Welcome: 'index.md'
    - Usage: 'usage.md'
    - Installation: 'installation.md'
    - Contributing: 'contributing.md'

theme:
    name: 'material'
    favicon: 'assets/favicon.ico'
    logo: 'assets/favicon.ico'
    homepage: https://supabase.github.io/wrappers
    palette:
        primary: black
        accent: light green

markdown_extensions:
    - pymdownx.highlight:
        linenums: true
        guess_lang: false
        use_pygments: true
        pygments_style: default
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.snippets
    - pymdownx.tasklist
    - admonition
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
