site_name: Wrappers
site_url: https://supabase.github.io/wrappers
site_description: A PostgreSQL extension for connecting to external data sources
copyright: Copyright &copy; Supabase
repo_name: supabase/wrappers
repo_url: https://github.com/supabase/wrappers
edit_uri: edit/main/docs/

not_in_nav: |
  tags.md

nav:
    - Home:  
        - 'index.md'
    - Catalog: 
        - catalog/index.md
        - Native:
          - Airtable: 'catalog/airtable.md'
          - Auth0: 'catalog/auth0.md'
          - AWS Cognito: 'catalog/cognito.md'
          - BigQuery: 'catalog/bigquery.md'
          - ClickHouse: 'catalog/clickhouse.md'
          - Firebase: 'catalog/firebase.md'
          - Logflare: 'catalog/logflare.md'
          - Notion: 'catalog/notion.md'
          - Redis: 'catalog/redis.md'
          - S3 (CSV, JSON, Parquet): 'catalog/s3.md'
          - Stripe: 'catalog/stripe.md'
          - SQL Server: 'catalog/mssql.md'
        - Wasm:
          - catalog/wasm/index.md
          - Paddle: 'catalog/paddle.md'
          - Snowflake: 'catalog/snowflake.md'
    - Guides:
        - Native vs Wasm Wrappers: 'guides/native-wasm.md'
        - Query Pushdown: 'guides/query-pushdown.md'
        - Remote Subqueries: 'guides/remote-subqueries.md'
        - Security: 'guides/security.md'
        - FDW Statistics: 'guides/usage-statistics.md'
        - Installing Wrappers in Postgres: 'guides/installation.md'
        - Limitations: 'guides/limitations.md'
        - Developing a Wasm Wrapper: 
            - Quick Start: 'guides/create-wasm-wrapper.md'
            - Advanced guide: 'guides/wasm-advanced.md'
    - Contributing: 
       - Core Development: 'contributing/core.md'
       - Developing a Native Wrapper: 'contributing/native.md'
       - Documentation: 'contributing/documentation.md'

plugins:
  - tags:
      tags_file: tags.md

theme:
    name: 'material'
    favicon: 'assets/favicon.ico'
    logo: 'assets/wrappers.svg'
    homepage: https://supabase.github.io/wrappers
    features:
      - navigation.expand  
      - navigation.tabs
      - navigation.tabs.sticky
      - navigation.sections
      - navigation.indexes
      - navigation.footer
    palette:
        scheme: slate
        primary: green
        accent: green

extra_css:
    - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://x.com/supabase
      name: Supabase on Twitter
    - icon: fontawesome/brands/reddit
      link: https://reddit.com/r/supabase
      name: Supabase on Reddit
    - icon: fontawesome/brands/github
      link: https://github.com/supabase/wrappers
      name: Wrappers on GitHub


markdown_extensions:
    - attr_list
    - md_in_html
    - pymdownx.highlight:
        linenums: true
        guess_lang: false
        use_pygments: true
        pygments_style: default
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.snippets
    - pymdownx.tasklist
    - admonition
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
