version: '3'
services:

  airtable:
    container_name: airtable-local
    build:
      context: ../dockerfiles/airtable
    ports:
      - "8086:8086"
    healthcheck:
      test: curl --fail http://0.0.0.0:8086/baseID/table-foo || exit 1
      interval: 10s
      timeout: 5s
      retries: 3

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse-wrapped
    environment:
      CLICKHOUSE_DB: supa
    ports:
      - "9000:9000" # native interface
      - "8123:8123" # http interface
    healthcheck:
      test: sleep 4 && wget --no-verbose --tries=1 --spider http://localhost:8123/?query=SELECT%201 || exit 1
      interval: 10s
      timeout: 5s
      retries: 20

  stripe:
    image: stripe/stripe-mock:v0.144.0
    container_name: stripe-mock
    ports:
      - "12111:12111"
    healthcheck:
      test: sleep 4
      retries: 20
      
  firebase:
    image: andreysenov/firebase-tools:12.9.1-node-18-slim
    container_name: firebase-wrapped
    command: firebase emulators:start --project supa --only auth,firestore --import=/home/node/baseline-data
    volumes:
      - ../dockerfiles/firebase:/home/node
    ports:
      - "4000:4000" # UI
      - "8080:8080" # Firestore
      - "9099:9099" # Auth
    healthcheck:
      test: sleep 4 && (echo >/dev/tcp/127.0.0.1/9099) &>/dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 30


  bigquery:
    container_name: bigquery-local
    build:
      context: ../..
      dockerfile: ./wrappers/dockerfiles/bigquery/Dockerfile
    volumes:
      - ../dockerfiles/bigquery/data.yaml:/app/data.yaml
    ports:
      - "9111:9111" # REST
      - "9060:9060" # gRPC
    command: --project=test --dataset=dataset1 --data-from-yaml=/app/data.yaml --port=9111
    healthcheck:
      test: curl --fail http://0.0.0.0:9111/bigquery/v2/projects/test_project/datasets/test_dataset || exit 1
      interval: 10s
      timeout: 5s
      retries: 3

  s3:
    image: localstack/localstack
    container_name: s3-mock
    volumes:
      - ../dockerfiles/s3/test_data:/data
      - ../dockerfiles/s3/init:/etc/localstack/init/ready.d
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    healthcheck:
      test: curl --fail http://127.0.0.1:4566/_localstack/init || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      
