name: Test Docs

on:
  pull_request:
    paths:
      - "docs/**"
      - "mkdocs.yaml"
      - ".github/workflows/test_docs.yml"
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yaml"
      - ".github/workflows/test_docs.yml"

permissions:
  contents: read

jobs:
  test_docs:
    name: Build MkDocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - run: pip install -r docs/requirements_docs.txt

      - run: mkdocs build
